<div class="contacts page">
	<header>
		<h1>Contacts</h1>
	</header>
	<div class="content">
		<div class="list-group">
			<a ui-sref="contact({id: contact.id})" class="list-group-item clearfix" ng-repeat="contact in app.contacts">
				<div class="col-xs-3">
					<div ng-include="getCard(contact.templateID)" class="cardInclude {{ orientation }}"></div>
				</div>
				<div class="col-xs-9">
					<p ng-bind="contact.fullName"></p>
					<p ng-bind="contact.email"></p>
				</div>
			</a>
		</div>
	</div>
</div>