<div class="login">
	<!-- <h1>CardCast</h1> -->
    <div class="logo">
	    <img src="assets/images/logo_white.png" alt="CardCast" />
    </div>
	<form ng-submit="loginFormSubmit()">
		<div class="input-group" ng-class="{'has-error': loginForm.error}">
			<label class="input-group-addon" for="username"><i class="fa fa-user"></i></label>
			<input type="text" class="form-control" placeholder="Email or mobile" id="username" ng-model="loginForm.data.username">
		</div>
		<div class="input-group" ng-class="{'has-error': loginForm.error}">
			<label class="input-group-addon" for="password"><i class="fa fa-lock"></i></label>
			<input type="password" class="form-control" placeholder="Password" id="password" ng-model="loginForm.data.password">
		</div>
		<input type="hidden" class="form-control" ng-model="loginForm.data.action">
		<div class="form-group">
			<div class="row">
				<div class="col-xs-7">
					<div class="checkbox">
						<input type="checkbox" value="None" id="remember" name="check">
						<label for="remember">Remember me</label>
					</div>
				</div>
				<div class="col-xs-5">
					<button type="submit" class="btn btn-login">Log in</button>
				</div>
			</div>
		</div>
	</form>
	<p class="signin">Don't have an account? <a ui-sref="signup">Sign Up Here</a></p>
	<div class="forgot">
		<a ui-sref="recover"><i class="fa fa-frown-o"></i> Forgot your <span>Password?</span></a>
	</div>
</div>
