<div class="card card_0">
	<div class="card-wrapper">
		<div class="card-inner-1">
			<div class="card-inner-2">
				<div class="card-top">
					<p class="card-name" ng-bind="contact.fullName">John Doe</p>
					<p class="card-company" ng-bind="contact.company">John Doe's company</p>
				</div>
				<div class="card-bottom">
					<div class="col-xs-8">
						<p class="card-phone"><i class="fa fa-phone"></i> <span ng-bind="contact.phone">Example Phone</span></p>
						<p class="card-email"><i class="fa fa-envelope-o"></i> <span ng-bind="contact.email">example@example.com</span></p>
					</div>
					<div class="col-xs-4 card-webImg">
						<img src="http://cdn.flaticon.com/png/256/36033.png" alt="John Doe">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>